
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '
    var genplan = [
      ['parking', 'Підземні паркінги', '#4AC1F3 '],
      ['hospital', 'Лікарня', '#4AF3DF'],
      ['park', 'Паркова зона', '#E6F34A'],
      ['barbeque', 'Зона барбекю', '#F3C44A'],
      ['dogs', 'Зона для вигулу собак', '#F3734A'],
      ['greenzone', 'Зелені зони', '#4AF384'],
      ['playground', 'Дитячі майданчики', '#F34AEC'],
      ['sportyard', 'Спортивні майданчики', '#4D4AF3'],
      ['workoutzone', 'Workout зони', '#F34A4A'],
    ]

block meta
  title= 'Щасливий у Дніпрі'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .container.container--full-screen.home-screen1
    +responsiveImage([
      './assets/images/home/home-page-screen1.jpg 1920',
      './assets/images/home/home-page-screen1@75x.jpg 1240',
      './assets/images/home/home-page-screen1@05x.jpg 600',
      './assets/images/home/home-page-screen1@05x.jpg 320',
    ], 'Альтернативний текст', true)
    div
      .text-style-h-1.text-white.text-uppercase Твої мрії,
      .text-style-h-1.text-white.text-uppercase твої цінності,
      .text-style-h-1.text-white.text-uppercase твій Щасливий
      button(type="button" class="button-30") Обрати квартиру
    <svg data-arrow-down class="home-screen1__arrow" width="71" height="49" viewBox="0 0 71 49" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.9797 3V15.375M35.9797 15.375L41.2297 9.75M35.9797 15.375L29.9797 9.75" stroke="white"/>
      <mask id="path-2-inside-1_909_16555" fill="white">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M35.4997 33.1936C47.2634 33.1936 56.7997 22.5784 56.7997 9.48389L71 9.48392V13.5C71 33.1061 55.1061 49 35.5 49C15.8939 49 0 33.1061 0 13.5V9.48392H14.1997C14.1997 22.5784 23.736 33.1936 35.4997 33.1936Z"/>
      </mask>
      <path d="M56.7997 9.48389L56.7997 8.48389L55.7997 8.48388V9.48389H56.7997ZM71 9.48392H72V8.48392L71 8.48392V9.48392ZM0 9.48392V8.48392H-1V9.48392H0ZM14.1997 9.48392L15.1997 9.48391L15.1997 8.48392H14.1997V9.48392ZM55.7997 9.48389C55.7997 22.1296 46.613 32.1936 35.4997 32.1936V34.1936C47.9138 34.1936 57.7997 23.0272 57.7997 9.48389H55.7997ZM56.7997 10.4839L71 10.4839V8.48392L56.7997 8.48389L56.7997 10.4839ZM70 9.48392V13.5H72V9.48392H70ZM70 13.5C70 32.5539 54.5538 48 35.5 48V50C55.6584 50 72 33.6584 72 13.5H70ZM35.5 48C16.4462 48 1 32.5539 1 13.5H-1C-1 33.6584 15.3416 50 35.5 50V48ZM1 13.5V9.48392H-1V13.5H1ZM0 10.4839H14.1997V8.48392H0V10.4839ZM35.4997 32.1936C24.3864 32.1936 15.1997 22.1296 15.1997 9.48391L13.1997 9.48392C13.1997 23.0272 23.0857 34.1936 35.4997 34.1936V32.1936Z" fill="white" mask="url(#path-2-inside-1_909_16555)"/>
      </svg>
  .container.container--full-screen.circle-screen
    .circle-screen-mobile-button.button-30.button-30--blue fewgewg
    .circle-screen__img.swiper-container
      .swiper-wrapper()
        .swiper-slide
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          img(src="./assets/images/home/home-grid-block/home-grid-block-text.jpg")
        .swiper-slide
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          img(src="./assets/images/home/home-grid-block/home-grid-block-text.jpg")
        .swiper-slide
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          img(src="./assets/images/home/home-grid-block/home-grid-block-text.jpg")
    .circle-screen__text
      .circle-screen__circle
      .circle-screen__navigation 
        <svg data-home-about-slider-prev width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="35" y="8.5" width="30" height="1" transform="rotate(-180 35 8.5)" fill="#001A58"/>
          <path d="M5.34948 8.21222L7.96852 13.7995C8.19919 14.2916 7.5898 14.7465 7.18361 14.3854L0.420418 8.3737C0.196661 8.17481 0.196661 7.82519 0.420419 7.62629L7.18361 1.61457C7.5898 1.25351 8.19919 1.7084 7.96852 2.20049L5.34948 7.78778C5.28645 7.92224 5.28645 8.07776 5.34948 8.21222Z" fill="#001A58"/>
          </svg>
        <div class="slider-counter js-about-slider-counter">
            <div class="slider-counter__arrow slider-counter__arrow-current current">1</div>
            <div class="slider-counter__delimiter">/</div>
            <div class="slider-counter__arrow slider-counter__arrow-total total">12</div>
        </div>
        <svg data-home-about-slider-next width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="7.5" width="30" height="1" fill="#001A58"/>
          <path d="M29.6505 7.78778L27.0315 2.20049C26.8008 1.7084 27.4102 1.25351 27.8164 1.61457L34.5796 7.6263C34.8033 7.82519 34.8033 8.17481 34.5796 8.3737L27.8164 14.3854C27.4102 14.7465 26.8008 14.2916 27.0315 13.7995L29.6505 8.21222C29.7136 8.07776 29.7136 7.92224 29.6505 7.78778Z" fill="#001A58"/>
          </svg>
      <style>.filters {position: absolute;}</style>
      .swiper-container(data-home-about-slider)
        .swiper-wrapper
          .swiper-slide(data-image="./assets/images/home/home-page-screen1.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 1 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
          .swiper-slide(data-image="./assets/images/home/home-page-screen1.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 2 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
          .swiper-slide(data-image="./assets/images/home/genplan/genplan-image.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 3 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
          .swiper-slide(data-image="./assets/images/home/home-page-screen1.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 4 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
          .swiper-slide(data-image="./assets/images/home/home-page-screen1.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 5 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
          .swiper-slide(data-image="./assets/images/home/home-page-screen1.jpg")
            .text-style-h-1.text-blue.text-uppercase.home-gallery__title 6 Про об’єкт
            .swiper-slide__text Щасливий у Дніпрі - це Простір:
            .swiper-slide__text для прогулянок з сім’єю
            .swiper-slide__text Паркова зона
            a(href="/project").button-30.button-30--blue Дізнатися більше
  .container.swiper-container(data-mobile-grid-sldier)
    .thumbs
    .home-grid-block.swiper-wrapper
      .home-grid-block__text.swiper-slide
        +responsiveImage([
          './assets/images/home/home-grid-block/home-grid-block-text.jpg 1920',
          './assets/images/home/home-grid-block/home-grid-block-text@075x.jpg 1240',
          './assets/images/home/home-grid-block/home-grid-block-text@05x.jpg 600',
          './assets/images/home/home-grid-block/home-grid-block-text@05x.jpg 320',
        ], 'Альтернативний текст', true)
        .text-style-h-1.text-new-blue.text-uppercase Дивитися квартири
        .text-style-h-4.text-blue Вільне планування - це чудова можливість не купувати квартиру з певною кількістю та типологією кімнат, а самостійно вирішити які саме зони з'являться на цій площі, визначити їх метраж та конфігурацію. 
        a(href="#" class="button-30 button-30--blue") Перейти до планувань
      .home-grid-block__img1.swiper-slide
        +responsiveImage([
          './assets/images/home/home-grid-block/home-grid-block1.jpg 1920',
          './assets/images/home/home-grid-block/home-grid-block1@075x.jpg 1240',
          './assets/images/home/home-grid-block/home-grid-block1@05x.jpg 600',
          './assets/images/home/home-grid-block/home-grid-block1@05x.jpg 320',
        ], 'Альтернативний текст', true)
      .home-grid-block__img2.swiper-slide
        +responsiveImage([
          './assets/images/home/home-grid-block/home-grid-block2.jpg 1920',
          './assets/images/home/home-grid-block/home-grid-block2@075x.jpg 1240',
          './assets/images/home/home-grid-block/home-grid-block2@05x.jpg 600',
          './assets/images/home/home-grid-block/home-grid-block2@05x.jpg 320',
        ], 'Альтернативний текст', true)
  .container.container--full-screen.genplan
    .genplan__svg-wrapper
      <svg width="1920" height="1080" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice ">
        <rect width="1920" height="1080" fill="url(#pattern0)"/>
        <path data-polygon="parking" opacity="0.6" d="M942.013 382.5H993.5C994.328 382.5 995 381.828 995 381V152C995 150.895 994.105 150 993 150H975.5C974.395 150 973.5 149.105 973.5 148V146C973.5 144.895 972.605 144 971.5 144H961C959.895 144 959 144.895 959 146V148C959 149.105 958.105 150 957 150H943.487C942.388 150 941.494 150.888 941.487 151.987L940.013 380.487C940.006 381.597 940.903 382.5 942.013 382.5Z" fill="#4AC1F3" stroke="white"/>
        <path data-polygon="parking" opacity="0.6" d="M992.5 693V649V415.5C992.5 414.395 991.605 413.5 990.5 413.5H977.25C976.284 413.5 975.5 412.716 975.5 411.75C975.5 410.784 974.716 410 973.75 410H961.25C960.284 410 959.5 410.784 959.5 411.75C959.5 412.716 958.716 413.5 957.75 413.5H941C939.895 413.5 939 414.354 939 415.459V626C939 629.17 940.963 641.436 941.972 647.336C941.991 647.448 942 647.557 942 647.67V693C942 694.105 942.895 695 944 695H990.5C991.605 695 992.5 694.105 992.5 693Z" fill="#4AC1F3" stroke="white"/>
        <path data-polygon="parking" opacity="0.6" d="M1326.5 223H1343.5C1344.6 223 1345.5 222.105 1345.5 221V113C1345.5 111.895 1344.6 111 1343.5 111H1339H1320.75C1319.75 111 1318.9 110.258 1318.77 109.264L1318.24 105.273C1318.1 104.264 1317.23 103.516 1316.21 103.538L1108.46 107.958C1107.37 107.981 1106.5 108.87 1106.5 109.958V231.5C1106.5 232.605 1107.4 233.5 1108.5 233.5H1207.89C1208.58 233.5 1209.22 233.145 1209.59 232.56L1213.41 226.44C1213.78 225.855 1214.42 225.5 1215.11 225.5H1278.5C1279.6 225.5 1280.5 226.395 1280.5 227.5V231.5C1280.5 232.605 1281.4 233.5 1282.5 233.5H1284C1285.1 233.5 1286 234.395 1286 235.5C1286 236.605 1286.9 237.5 1288 237.5H1322.5C1323.6 237.5 1324.5 236.605 1324.5 235.5V225C1324.5 223.895 1325.4 223 1326.5 223Z" fill="#4AC1F3" stroke="white"/>
        <path data-polygon="hospital" opacity="0.6" d="M1052.5 851.5V801.5C1052.5 800.395 1053.4 799.5 1054.5 799.5H1168C1169.1 799.5 1170 798.605 1170 797.5V792.5C1170 791.395 1170.9 790.5 1172 790.5H1305C1306.1 790.5 1307 789.605 1307 788.5V731.5C1307 730.395 1306.1 729.5 1305 729.5H994.5C993.395 729.5 992.5 730.395 992.5 731.5V782C992.5 783.105 991.605 784 990.5 784H984.5C983.395 784 982.5 784.895 982.5 786V851.5C982.5 852.605 983.395 853.5 984.5 853.5H1050.5C1051.6 853.5 1052.5 852.605 1052.5 851.5Z" fill="#4AF3DF" stroke="white"/>
        <path data-polygon="park" opacity="0.6" d="M911.5 1077.5V905.5C911.5 904.395 912.395 903.5 913.5 903.5H945C946.105 903.5 947 902.605 947 901.5V860.5C947 859.395 947.895 858.5 949 858.5H1059.5C1060.6 858.5 1061.5 857.605 1061.5 856.5V806.5C1061.5 805.395 1062.4 804.5 1063.5 804.5H1173.5C1174.6 804.5 1175.5 803.605 1175.5 802.5V797.5C1175.5 796.395 1176.4 795.5 1177.5 795.5H1309.5C1310.6 795.5 1311.5 794.605 1311.5 793.5V718.221C1311.5 717.471 1311.92 716.785 1312.59 716.442L1440.55 650.73C1440.85 650.579 1441.17 650.503 1441.5 650.509L1579.08 652.966C1580.15 652.985 1581.02 653.846 1581.04 654.919L1590.95 1077.45C1590.98 1078.58 1590.08 1079.5 1588.95 1079.5H913.5C912.395 1079.5 911.5 1078.6 911.5 1077.5Z" fill="#E6F34A" stroke="white"/>
        <path data-polygon="barbeque" opacity="0.6" d="M653 905H442C440.895 905 440 905.895 440 907V1022.5C440 1023.6 440.895 1024.5 442 1024.5H653C654.105 1024.5 655 1023.6 655 1022.5V907C655 905.895 654.105 905 653 905Z" fill="#F3C44A" stroke="white"/>
        <path data-polygon="dogs" opacity="0.6" d="M905 0H724C722.895 0 722 0.895429 722 2V105.5C722 106.605 722.895 107.5 724 107.5H817C818.105 107.5 819 106.605 819 105.5V91C819 89.8954 819.895 89 821 89H823.5C824.605 89 825.5 88.1046 825.5 87V82C825.5 80.8954 826.395 80 827.5 80H854.25C854.664 80 855 79.6642 855 79.25C855 78.8358 855.336 78.5 855.75 78.5H863.25C863.664 78.5 864 78.8358 864 79.25C864 79.6642 864.336 80 864.75 80H888.699C889.723 80 890.581 80.7727 890.688 81.7906L891.312 87.7094C891.419 88.7273 892.277 89.5 893.301 89.5H894.71C895.729 89.5 896.585 90.2663 896.698 91.2791L898.302 105.721C898.415 106.734 899.271 107.5 900.29 107.5H905C906.105 107.5 907 106.605 907 105.5V2C907 0.895431 906.105 0 905 0Z" fill="#F3734A" stroke="white"/>
        <path data-polygon="dogs" opacity="0.6" d="M907 905H696C694.895 905 694 905.895 694 907V1022.5C694 1023.6 694.895 1024.5 696 1024.5H907C908.105 1024.5 909 1023.6 909 1022.5V907C909 905.895 908.105 905 907 905Z" fill="#F3734A" stroke="white"/>
        <g opacity="0.6" data-polygon="greenzone">
        <path d="M1297.04 279.5H1283.5C1282.4 279.5 1281.5 278.605 1281.5 277.5V276.5C1281.5 275.395 1282.4 274.5 1283.5 274.5H1295.5C1305.55 275.273 1310.19 280.782 1311.39 283.708C1311.47 283.9 1311.5 284.106 1311.51 284.314L1313.46 353.725C1313.49 354.503 1313.06 355.222 1312.36 355.57L1308.95 357.276C1308.28 357.609 1307.5 357.125 1307.5 356.382V350.5C1307.5 349.395 1306.6 348.5 1305.5 348.5H1302.46C1301.37 348.5 1300.48 347.631 1300.46 346.543L1299.04 281.457C1299.02 280.369 1298.13 279.5 1297.04 279.5Z" fill="#4AF384" stroke="white"/>
        <path d="M1294.45 451H1293.5C1292.67 451 1292 450.328 1292 449.5C1292 448.672 1291.33 448 1290.5 448C1289.67 448 1289 447.328 1289 446.5V431.618C1289 430.923 1289.36 430.278 1289.95 429.914L1307.55 419.086C1308.14 418.722 1308.5 418.077 1308.5 417.382V374.461C1308.5 373.854 1308.78 373.279 1309.25 372.9L1312.75 370.1C1314.06 369.052 1316 369.984 1316 371.661V419.33C1316 420.053 1315.61 420.719 1314.98 421.073L1301.02 428.927C1300.39 429.281 1300 429.947 1300 430.67V446.868C1300 447.57 1299.63 448.221 1299.03 448.583L1295.48 450.715C1295.16 450.901 1294.81 451 1294.45 451Z" fill="#4AF384" stroke="white"/>
        <path d="M1311.91 663.815L1298.79 660.342C1298.15 660.171 1297.52 660.668 1297.54 661.335L1297.96 677.502C1297.98 678.215 1298.72 678.68 1299.37 678.389L1320.29 669.041C1321.02 668.713 1321.49 667.978 1321.47 667.174L1320.56 622.063C1320.54 621.096 1319.3 620.718 1318.74 621.51L1313.88 628.458C1313.63 628.81 1313.51 629.232 1313.52 629.661L1314.42 661.826C1314.46 663.161 1313.21 664.157 1311.91 663.815Z" fill="#4AF384" stroke="white"/>
        <path d="M1118 685.038V670.039C1118 668.745 1119.21 667.791 1120.47 668.094L1144.5 673.88C1144.83 673.959 1145.18 673.972 1145.47 673.793C1149.19 671.46 1147.86 654.368 1146.6 645.187C1146.53 644.739 1146.62 644.288 1146.85 643.897L1153.14 633.178C1153.65 632.298 1155 632.657 1155 633.676V672C1155 681.335 1148.07 686.068 1144.31 687.395C1144.11 687.468 1143.89 687.498 1143.67 687.494L1119.96 687.038C1118.87 687.017 1118 686.128 1118 685.038Z" fill="#4AF384" stroke="white"/>
        <path d="M1111 611.351V593.761C1111 592.789 1110.21 592 1109.24 592C1108.27 592 1107.49 591.225 1107.48 590.261L1107.05 557.23C1107.04 556.175 1108.46 555.821 1108.94 556.758L1129.27 596.081C1129.7 596.911 1129.49 597.927 1128.78 598.529L1112.64 612.115C1111.99 612.663 1111 612.201 1111 611.351Z" fill="#4AF384" stroke="white"/>
        <path d="M1151.46 439.636L1150.1 491.161C1150.07 492.191 1148.69 492.512 1148.22 491.599L1134.88 466.172C1134.38 465.234 1134.71 464.074 1135.62 463.528L1138.03 462.083C1138.63 461.721 1139 461.07 1139 460.368V445.258C1139 444.489 1139.44 443.788 1140.13 443.455L1150.02 438.708C1150.7 438.385 1151.48 438.888 1151.46 439.636Z" fill="#4AF384" stroke="white"/>
        <path d="M1134.95 459.566L1130.27 462.085C1129.78 462.35 1129.2 462.397 1128.67 462.215L1114.85 457.464C1114.04 457.186 1113.5 456.427 1113.5 455.573V444.886C1113.5 444.052 1112.98 443.306 1112.2 443.013L1106.78 440.98C1106.01 440.691 1105.49 439.957 1105.48 439.132L1105.01 401.146C1105.01 400.436 1105.37 399.775 1105.98 399.408L1142.1 377.646C1143.12 377.033 1144.44 377.435 1144.94 378.51L1151.32 392.109C1151.44 392.367 1151.5 392.647 1151.51 392.932L1151.98 430.313C1151.99 431.045 1151.6 431.723 1150.97 432.082L1137.02 439.927C1136.39 440.281 1136 440.947 1136 441.67V457.805C1136 458.541 1135.6 459.218 1134.95 459.566Z" fill="#4AF384" stroke="white"/>
        <path d="M991.072 568.104C953.881 592.649 974.636 618.415 990.579 628.907C991.153 629.285 991.5 629.917 991.5 630.605V692C991.5 693.105 990.605 694 989.5 694H977.5C976.395 694 975.5 693.105 975.5 692V682C975.5 680.895 974.605 680 973.5 680H963C961.895 680 961 680.895 961 682V692C961 693.105 960.105 694 959 694H944.5C943.395 694 942.5 693.105 942.5 692V646.186C942.5 645.741 942.352 645.309 942.079 644.958L939.421 641.542C939.148 641.191 939 640.759 939 640.314V597.5V415.5C939 414.395 939.895 413.5 941 413.5H958.75C959.716 413.5 960.5 412.716 960.5 411.75C960.5 410.784 961.284 410 962.25 410H973.75C974.716 410 975.5 410.784 975.5 411.75C975.5 412.716 976.284 413.5 977.25 413.5H991.48C992.593 413.5 993.491 414.407 993.48 415.519L992.011 566.421C992.004 567.094 991.634 567.733 991.072 568.104Z" fill="#4AF384"/>
        <path d="M992 610.092V586.869C992 586.07 991.14 585.637 990.577 586.204C988.493 588.304 985.819 592.437 985.5 598.5C985.169 604.78 988.231 608.883 990.62 610.826C991.207 611.304 992 610.849 992 610.092Z" fill="#4AF384"/>
        <path d="M991.072 568.104C953.881 592.649 974.636 618.415 990.579 628.907C991.153 629.285 991.5 629.917 991.5 630.605V692C991.5 693.105 990.605 694 989.5 694H977.5C976.395 694 975.5 693.105 975.5 692V682C975.5 680.895 974.605 680 973.5 680H963C961.895 680 961 680.895 961 682V692C961 693.105 960.105 694 959 694H944.5C943.395 694 942.5 693.105 942.5 692V646.186C942.5 645.741 942.352 645.309 942.079 644.958L939.421 641.542C939.148 641.191 939 640.759 939 640.314V597.5V415.5C939 414.395 939.895 413.5 941 413.5H958.75C959.716 413.5 960.5 412.716 960.5 411.75C960.5 410.784 961.284 410 962.25 410H973.75C974.716 410 975.5 410.784 975.5 411.75C975.5 412.716 976.284 413.5 977.25 413.5H991.48C992.593 413.5 993.491 414.407 993.48 415.519L992.011 566.421C992.004 567.094 991.634 567.733 991.072 568.104Z" stroke="white"/>
        <path d="M992 610.092V586.869C992 586.07 991.14 585.637 990.577 586.204C988.493 588.304 985.819 592.437 985.5 598.5C985.169 604.78 988.231 608.883 990.62 610.826C991.207 611.304 992 610.849 992 610.092Z" stroke="white"/>
        <path d="M993.982 271.518L993 382C993 382.552 992.552 383 992 383H942.5C941.395 383 940.5 382.105 940.5 381V271.5C940.5 270.395 941.395 269.5 942.5 269.5H991.982C993.094 269.5 993.992 270.406 993.982 271.518Z" fill="#4AF384" stroke="white"/>
        <path d="M992 260H942.5C941.395 260 940.5 259.105 940.5 258V152.5C940.5 151.395 941.395 150.5 942.5 150.5H957C958.105 150.5 959 149.605 959 148.5V146C959 144.895 959.895 144 961 144H971.5C972.605 144 973.5 144.895 973.5 146V149C973.5 150.105 974.395 151 975.5 151H991.942C993.054 151 993.952 151.906 993.942 153.018L993 259C993 259.552 992.552 260 992 260Z" fill="#4AF384" stroke="white"/>
        <path d="M796.999 847.366V817.106C796.999 816.711 797.116 816.325 797.335 815.996L803.374 806.939C803.861 806.208 805 806.553 805 807.431C805 807.801 804.884 808.162 804.669 808.463L802.872 810.978C802.63 811.318 802.5 811.724 802.5 812.141V826.25C802.5 826.664 802.835 827 803.25 827C803.664 827 804 827.332 804 827.746V849.5C804 854.5 805.999 856 783.999 863.5C767.664 869.069 765.284 853.819 766.226 843.736C766.338 842.542 767.517 841.784 768.673 842.106L794.463 849.293C795.737 849.648 796.999 848.69 796.999 847.366Z" fill="#4AF384" stroke="white"/>
        <path d="M765.329 784.041L778.881 771.995C779.544 771.405 779.739 770.449 779.36 769.646L760.296 729.301C759.846 728.349 758.419 728.65 758.392 729.703L757.553 762.449C757.524 763.573 758.427 764.5 759.552 764.5H760C761.105 764.5 762 765.395 762 766.5V782.546C762 784.272 764.039 785.188 765.329 784.041Z" fill="#4AF384" stroke="white"/>
        <path d="M793.8 714.4L770.839 731.621C769.867 732.35 768.476 732.051 767.888 730.988L758.75 714.452C758.586 714.155 758.5 713.823 758.5 713.484V663C758.5 661.895 759.395 661 760.5 661H765.5C766.605 661 767.5 660.105 767.5 659V639.332C767.5 637.951 768.867 636.985 770.169 637.447L782.263 641.739C782.737 641.907 783.13 642.247 783.364 642.692L802.77 679.563C802.921 679.85 803 680.17 803 680.494V737.25C803 737.664 803.336 738 803.75 738C804.164 738 804.5 738.336 804.5 738.75V769.592C804.5 771.311 802.476 772.229 801.183 771.098C800.749 770.718 800.5 770.169 800.5 769.592V742.25C800.5 741.284 799.716 740.5 798.75 740.5C797.784 740.5 797 739.716 797 738.75V716C797 714.352 795.118 713.411 793.8 714.4Z" fill="#4AF384" stroke="white"/>
        <path d="M806.542 417.5H766.942C766.081 417.5 765.316 416.949 765.044 416.132L762.603 408.808C762.535 408.604 762.5 408.39 762.5 408.175V303.603C762.5 301.723 764.858 300.882 766.048 302.336L784.042 324.329C784.609 325.022 785.567 325.254 786.387 324.897L795.297 321.023C796.028 320.705 796.5 319.985 796.5 319.189V291.828C796.5 291.298 796.711 290.789 797.086 290.414L800.162 287.338C801.09 286.41 802.646 286.613 803.305 287.748L810.718 300.514C810.902 300.832 810.996 301.194 810.988 301.561L808.542 415.543C808.519 416.631 807.63 417.5 806.542 417.5Z" fill="#4AF384" stroke="white"/>
        <path d="M607 789.56V802.515C607 803.136 606.712 803.722 606.219 804.1L595.629 812.247C594.968 812.756 594.011 812.279 594.019 811.445L594.981 708.481C594.992 707.384 595.884 706.5 596.981 706.5H601.5H605.742C606.511 706.5 607.212 706.941 607.545 707.635L611.946 716.804C612.491 717.941 613.94 718.295 614.949 717.538L617.8 715.4C619.118 714.411 621 715.352 621 717V720.58C621 721.164 620.745 721.719 620.302 722.099L608.584 732.142C607.72 732.883 607.647 734.194 608.424 735.025L620.462 747.924C620.808 748.294 621 748.782 621 749.288V777.94C621 778.603 620.672 779.223 620.123 779.595L607.877 787.905C607.328 788.277 607 788.897 607 789.56Z" fill="#4AF384" stroke="white"/>
        <path d="M602.451 555.495L624.914 544.044C624.97 544.015 625.033 544 625.097 544C625.319 544 625.5 543.819 625.5 543.597V538.5C625.5 537.395 626.395 536.5 627.5 536.5H630.942C632.069 536.5 632.973 535.569 632.941 534.443L632.556 520.943C632.525 519.861 631.639 519 630.556 519H629C627.895 519 627 518.105 627 517V512.972C627 512.662 626.928 512.355 626.789 512.078L624.012 506.525C623.698 505.897 623.056 505.5 622.354 505.5C621.33 505.5 620.5 504.67 620.5 503.646V497.325C620.5 497.11 620.465 496.896 620.397 496.692L619.24 493.22C619.085 492.756 618.766 492.365 618.342 492.121L608.999 486.73C607.666 485.961 606 486.924 606 488.463V512.563C606 513.157 605.736 513.72 605.28 514.1L600.708 517.91C600.258 518.285 599.996 518.836 599.988 519.421L599.543 553.688C599.523 555.193 601.11 556.179 602.451 555.495Z" fill="#4AF384" stroke="white"/>
        <path d="M605.5 379V367.5C605.5 366.395 604.604 365.5 603.5 365.5H602C600.895 365.5 600 366.39 600 367.494V405C600 410.5 599.5 417.5 617 417.5C630.563 417.5 635.835 412.182 636.909 409.273C636.975 409.094 637 408.903 637 408.712V393.819C637 393.019 636.523 392.296 635.787 391.981L634.712 391.519C633.976 391.204 633.5 390.481 633.5 389.681V385.541C633.5 384.889 633.181 384.277 632.646 383.903L629.016 381.362C628.68 381.126 628.279 381 627.869 381H607.5C606.395 381 605.5 380.105 605.5 379Z" fill="#4AF384" stroke="white"/>
        <path d="M627 165.592V156C627 154.895 626.105 154 625 154H619.5C607.9 154 605 167.667 605 174.5L602.531 295.485C602.514 296.317 603.183 297 604.015 297C604.835 297 605.5 296.335 605.5 295.515V277.978C605.5 277.361 605.785 276.778 606.272 276.399L613.728 270.601C614.215 270.222 614.5 269.639 614.5 269.022V247.766C614.5 246.563 615.554 245.632 616.748 245.781L625.362 246.858C626.067 246.946 626.672 247.401 626.952 248.054L629.116 253.104C629.202 253.304 629.5 253.243 629.5 253.026V246.5C629.5 245.395 630.395 244.5 631.5 244.5H633.5C634.605 244.5 635.5 243.605 635.5 242.5V234.278C635.5 233.778 635.312 233.295 634.974 232.927L630.513 228.06C630.183 227.699 629.996 227.23 629.988 226.741L629.533 198.532C629.515 197.415 630.415 196.5 631.533 196.5H635C636.105 196.5 637 195.605 637 194.5V186.5C637 185.395 636.105 184.5 635 184.5H634.828C634.298 184.5 633.789 184.289 633.414 183.914L631.586 182.086C631.211 181.711 631 181.202 631 180.672V170.908C631 170.331 630.751 169.782 630.317 169.402L627.683 167.098C627.249 166.718 627 166.169 627 165.592Z" fill="#4AF384" stroke="white"/>
        </g>
        <g opacity="0.6" data-polygon="playground">
          <path d="M1154.5 568.5V598.657C1154.5 600.042 1153.13 601.007 1151.82 600.539L1135.75 594.769C1135.27 594.596 1134.87 594.246 1134.64 593.791L1118.74 562.46C1118.31 561.611 1118.54 560.576 1119.29 559.985L1143.4 540.945C1144.69 539.93 1146.58 540.807 1146.64 542.444L1147.43 564.571C1147.47 565.647 1148.35 566.5 1149.43 566.5H1152.5C1153.6 566.5 1154.5 567.395 1154.5 568.5Z" fill="#F34AEC" stroke="white"/>
          <path d="M607.804 296.987L614.412 307.561C614.778 308.145 615.419 308.501 616.108 308.501H620C621.105 308.501 622 307.605 622 306.501V302C622 300.895 622.895 300 624 300H626.5C627.605 300 628.5 299.105 628.5 298V292C628.5 290.895 629.395 290 630.5 290H633C634.105 290 635 289.105 635 288V280.778C635 280.278 634.812 279.795 634.474 279.427L630.026 274.573C629.688 274.205 629.5 273.722 629.5 273.222V257.947C629.5 257.653 629.435 257.362 629.31 257.095L625.952 249.961C625.67 249.36 625.107 248.939 624.45 248.837L618.807 247.959C617.595 247.77 616.5 248.708 616.5 249.935V269.548C616.5 270.151 616.228 270.722 615.76 271.102L608.24 277.198C607.772 277.578 607.5 278.149 607.5 278.752V295.927C607.5 296.302 607.605 296.669 607.804 296.987Z" fill="#F34AEC" stroke="white"/>
          <path d="M1143.21 532.6L1125.55 545.952C1124.51 546.737 1123.01 546.336 1122.5 545.136L1118.52 535.721C1118.2 534.981 1117.48 534.5 1116.67 534.5H1113C1111.9 534.5 1111 533.605 1111 532.5V502.5C1111 501.395 1111.9 500.5 1113 500.5H1117C1118.1 500.5 1119 499.605 1119 498.5V486.363C1119 485.541 1119.5 484.802 1120.27 484.502L1131.38 480.136C1132.31 479.771 1133.36 480.146 1133.85 481.015L1143.74 498.543C1143.91 498.842 1144 499.181 1144 499.525V531.005C1144 531.632 1143.71 532.222 1143.21 532.6Z" fill="#F34AEC" stroke="white"/>
          <path d="M1150.31 340.651L1141.74 369.695C1141.59 370.21 1141.23 370.642 1140.76 370.894L1113.34 385.49C1112.03 386.186 1110.45 385.269 1110.4 383.788L1109.54 356.78C1109.52 356 1109.95 355.276 1110.65 354.927L1112.39 354.053C1113.07 353.714 1113.5 353.021 1113.5 352.264V322.74C1113.5 321.385 1114.82 320.422 1116.11 320.835L1124.61 323.555C1125.44 323.82 1126 324.59 1126 325.46V329.105C1126 329.943 1126.52 330.692 1127.31 330.982L1135.13 333.862C1135.37 333.953 1135.64 333.995 1135.9 333.984L1146.57 333.557C1147.42 333.523 1148.21 334.038 1148.51 334.838L1150.26 339.367C1150.41 339.777 1150.43 340.229 1150.31 340.651Z" fill="#F34AEC" stroke="white"/>
          <path d="M1303.99 368.768L1284.99 379.92C1284.38 380.279 1284 380.936 1284 381.645V385.5C1284 386.605 1284.9 387.5 1286 387.5H1289.07C1290.15 387.5 1291.03 388.354 1291.07 389.431L1291.96 415.408C1291.99 416.089 1291.66 416.734 1291.1 417.122L1286.36 420.404C1285.82 420.777 1285.5 421.392 1285.5 422.048V446.5C1285.5 447.052 1285.95 447.5 1286.5 447.5C1287.05 447.5 1287.5 447.052 1287.5 446.5V430.618C1287.5 429.923 1287.86 429.278 1288.45 428.914L1306.05 418.086C1306.64 417.722 1307 417.077 1307 416.382V370.493C1307 368.947 1305.32 367.986 1303.99 368.768Z" fill="#F34AEC" stroke="white"/>
          <path d="M1293.53 494.974L1293.95 528.115C1293.97 529.742 1295.82 530.664 1297.13 529.703L1308.18 521.599C1308.7 521.223 1309 520.624 1309 519.987V489.071C1309 488.698 1308.9 488.332 1308.7 488.015L1295.59 466.943C1295.22 466.357 1294.58 466 1293.89 466H1288.5C1287.4 466 1286.5 466.895 1286.5 468V491C1286.5 492.105 1287.4 493 1288.5 493H1291.53C1292.62 493 1293.51 493.88 1293.53 494.974Z" fill="#F34AEC" stroke="white"/>
          <path d="M793.893 716.229L771.33 733.483C770.56 734.071 770.323 735.127 770.767 735.988L786.14 765.805C786.371 766.254 786.764 766.599 787.24 766.77L796.323 770.04C797.626 770.509 799 769.543 799 768.158V744.254C799 743.287 798.216 742.504 797.25 742.504C796.284 742.504 795.5 741.72 795.5 740.754V717.024C795.5 716.195 794.551 715.726 793.893 716.229Z" fill="#F34AEC" stroke="white"/>
          <path d="M795 464V421C795 419.895 794.105 419 793 419H772.5C771.395 419 770.5 419.895 770.5 421V489C770.5 490.105 771.395 491 772.5 491H800C801.105 491 802 490.105 802 489V468C802 466.895 801.105 466 800 466H797C795.895 466 795 465.105 795 464Z" fill="#F34AEC" stroke="white"/>
          <path d="M617 612.17V629C617 629.714 616.274 630.198 615.615 629.923L612.231 628.513C611.485 628.202 611 627.474 611 626.667V594.328C611 593.798 610.789 593.289 610.414 592.914L607.586 590.086C607.211 589.711 607 589.202 607 588.672V564.236C607 563.479 607.428 562.786 608.106 562.447L622.106 555.447C623.435 554.782 625 555.749 625 557.236V566C625 567.105 625.895 568 627 568H630C631.105 568 632 568.895 632 570V586C632 587.105 631.105 588 630 588H627.447C626.363 588 625.477 588.863 625.447 589.946L625.031 605.367C625.012 606.07 624.625 606.711 624.012 607.056L618.019 610.427C617.39 610.781 617 611.447 617 612.17Z" fill="#F34AEC" stroke="white"/>
        </g>
        <g opacity="0.6" data-polygon="sportyard">
          <path d="M1291.94 366.206L1291.8 366.1C1291.3 365.722 1291 365.13 1291 364.5V339.5C1291 338.395 1290.1 337.5 1289 337.5H1284.46C1283.93 337.5 1283.48 337.075 1283.46 336.537L1282.54 311.537C1282.52 310.971 1282.97 310.5 1283.54 310.5H1287C1288.1 310.5 1289 309.605 1289 308.5V295.5C1289 294.395 1288.1 293.5 1287 293.5H1283C1282.45 293.5 1282 293.052 1282 292.5V282C1282 280.895 1282.9 280 1284 280H1297.04C1298.13 280 1299.02 280.869 1299.04 281.956L1300.46 346.544C1300.48 347.631 1301.37 348.5 1302.46 348.5H1306.5C1307.6 348.5 1308.5 349.395 1308.5 350.5V356.849C1308.5 357.561 1308.12 358.22 1307.5 358.578L1294.15 366.335C1293.45 366.738 1292.58 366.687 1291.94 366.206Z" fill="#4D4AF3" stroke="white"/>
          <path d="M801 493.5H766.5C765.946 493.5 765.497 493.946 765.492 494.5L765.012 555.994C765.005 556.824 765.676 557.5 766.506 557.5C767.331 557.5 768 558.169 768 558.994V588.672C768 589.202 768.211 589.711 768.586 590.086L771.414 592.914C771.789 593.289 772 593.798 772 594.328V626.146C772 626.964 772.498 627.699 773.257 628.003L776.757 629.403C778.071 629.928 779.5 628.961 779.5 627.546V611.687C779.5 610.955 779.9 610.282 780.542 609.931L800.458 599.069C801.1 598.718 801.5 598.045 801.5 597.313V558.25C801.5 557.836 801.836 557.5 802.25 557.5C802.664 557.5 803 557.164 803 556.75V495.5C803 494.395 802.105 493.5 801 493.5Z" fill="#4D4AF3" stroke="white"/>
          <path d="M1138.5 301H1142C1143.1 301 1144 301.895 1144 303V307.934C1144 308.285 1143.82 308.611 1143.51 308.791L1140.51 310.591C1139.85 310.991 1139 310.511 1139 309.734V308C1139 306.895 1138.1 306 1137 306H1115.5C1114.4 306 1113.5 305.105 1113.5 304V266C1113.5 264.895 1114.4 264 1115.5 264H1120C1121.1 264 1122 263.105 1122 262V250.5C1122 249.395 1122.9 248.5 1124 248.5H1134.5C1135.6 248.5 1136.5 249.395 1136.5 250.5V299C1136.5 300.105 1137.4 301 1138.5 301Z" fill="#4D4AF3" stroke="white"/>
          <path d="M627 484.176V478.5C627 477.395 627.895 476.5 629 476.5H633C633.552 476.5 634 476.052 634 475.5V463.644C634 463.252 633.771 462.896 633.414 462.734L629.672 461.033C628.958 460.708 628.5 459.996 628.5 459.212V431.5C628.5 430.395 629.395 429.5 630.5 429.5H633C634.105 429.5 635 428.605 635 427.5V420.5C635 419.395 634.105 418.5 633 418.5H613.5C612.395 418.5 611.5 419.395 611.5 420.5V477.205C611.5 477.993 611.963 478.707 612.682 479.03L625.839 484.928C625.945 484.975 626.06 485 626.176 485C626.631 485 627 484.631 627 484.176Z" fill="#4D4AF3" stroke="white"/>
          <path d="M620 311H605.963C604.873 311 603.984 311.873 603.964 312.963L603.028 363.486C603.013 364.318 603.682 365 604.514 365C605.335 365 606 365.665 606 366.486V378C606 379.105 606.895 380 608 380H624.5C625.605 380 626.5 379.105 626.5 378V350.5C626.5 349.395 627.395 348.5 628.5 348.5H631.5C632.605 348.5 633.5 347.605 633.5 346.5V338.098C633.5 337.414 633.151 336.778 632.574 336.411L628.926 334.089C628.349 333.722 628 333.086 628 332.402V322.5C628 321.87 627.704 321.278 627.2 320.9L622.8 317.6C622.296 317.222 622 316.63 622 316V313C622 311.895 621.105 311 620 311Z" fill="#4D4AF3" stroke="white"/>
        </g>
        <g opacity="0.6" data-polygon="workoutzone">
          <path d="M1320.23 606.464L1295.23 649.73C1294.8 650.486 1293.92 650.871 1293.07 650.682L1291.57 650.348C1290.65 650.145 1290 649.333 1290 648.396V623.5C1290 622.948 1290.45 622.5 1291 622.5H1294.5C1295.6 622.5 1296.5 621.605 1296.5 620.5V607.5C1296.5 606.395 1295.6 605.5 1294.5 605.5H1291C1290.45 605.5 1290 605.052 1290 604.5V603.493C1290 603.182 1290.14 602.889 1290.39 602.7L1304.08 592.206C1304.65 591.769 1305.41 591.671 1306.07 591.949L1319.27 597.486C1320.02 597.797 1320.5 598.524 1320.5 599.33V605.464C1320.5 605.815 1320.41 606.16 1320.23 606.464Z" fill="#F34A4A" stroke="white"/>
          <path d="M1148.64 627.999L1129.29 661.623C1128.83 662.429 1127.87 662.81 1126.98 662.54L1108.42 656.93C1107.58 656.675 1107 655.897 1107 655.015V640.646C1107 639.936 1107.38 639.279 1107.99 638.92L1120.51 631.58C1121.12 631.221 1121.5 630.564 1121.5 629.854V616.57C1121.5 615.902 1121.83 615.277 1122.39 614.906L1139.45 603.536C1140.11 603.093 1141 603.57 1141 604.369V624.5C1141 625.605 1141.9 626.5 1143 626.5H1147.77C1148.54 626.5 1149.02 627.332 1148.64 627.999Z" fill="#F34A4A" stroke="white"/>
          <path d="M797.285 799.5H793C791.895 799.5 791 798.605 791 797.5V776.855C791 776.059 790.115 775.582 789.45 776.019L772.901 786.907C772.339 787.277 772 787.905 772 788.578V802.8C772 803.539 771.593 804.217 770.941 804.565L758.059 811.435C757.407 811.783 757 812.461 757 813.2V829.536C757 830.408 757.565 831.179 758.396 831.442L775.954 837.01C776.855 837.295 777.833 836.911 778.299 836.088L798.156 800.992C798.533 800.326 798.051 799.5 797.285 799.5Z" fill="#F34A4A" stroke="white"/>
          <path d="M798 211.4V234.7C798 235.491 797.535 236.207 796.812 236.528L790.406 239.375C789.745 239.669 789 239.185 789 238.461V233.64C789 232.686 788.327 231.865 787.392 231.678L780.608 230.322C779.673 230.135 779 229.314 779 228.36V204.908C779 204.331 778.751 203.782 778.317 203.402L775.683 201.098C775.249 200.718 775 200.169 775 199.592V160.5C775 159.395 775.895 158.5 777 158.5H799.2C799.991 158.5 800.707 158.965 801.028 159.688L810.15 180.213C810.374 180.715 810.38 181.287 810.169 181.795L798.154 210.631C798.052 210.875 798 211.136 798 211.4Z" fill="#F34A4A" stroke="white"/>
          <path d="M775.5 247.96V269.602C775.5 270.173 775.256 270.717 774.829 271.097L767.171 277.903C766.744 278.283 766.5 278.827 766.5 279.398V296.787C766.5 297.248 766.659 297.695 766.951 298.052L785.46 320.726C786.064 321.466 787.108 321.676 787.951 321.226L792.941 318.565C793.593 318.217 794 317.539 794 316.8V309V291.828C794 291.298 794.211 290.789 794.586 290.414L802.019 282.981C802.609 282.391 802.771 281.497 802.424 280.737L787.92 248.922C787.656 248.342 787.132 247.923 786.508 247.793L777.908 246.002C776.666 245.743 775.5 246.691 775.5 247.96Z" fill="#F34A4A" stroke="white"/>
          <path d="M593.551 830.472L593.968 817.958C593.988 817.352 594.282 816.788 594.767 816.425L609.2 805.6C609.704 805.222 610 804.63 610 804V791.048C610 790.392 610.322 789.777 610.862 789.404L622.486 781.356C622.821 781.124 623.218 781 623.625 781H624.5C625.605 781 626.5 781.895 626.5 783V793.784C626.5 794.771 625.78 795.611 624.804 795.761L621.696 796.239C620.72 796.389 620 797.229 620 798.216V808.952C620 809.608 619.678 810.223 619.138 810.596L614.362 813.904C613.822 814.277 613.5 814.892 613.5 815.548V831.045C613.5 831.572 613.928 832 614.455 832C615.165 832 615.626 832.747 615.309 833.382L613.758 836.485C613.32 837.359 612.315 837.789 611.381 837.502L594.962 832.45C594.099 832.184 593.521 831.374 593.551 830.472Z" fill="#F34A4A" stroke="white"/>
          <path d="M601 673V703C601 704.105 601.895 705 603 705H608.197C608.641 705 609 705.359 609 705.803C609 705.932 609.031 706.06 609.092 706.175L613.384 714.369C613.964 715.477 615.408 715.787 616.391 715.014L620.736 711.601C621.218 711.221 621.5 710.642 621.5 710.028V699.886C621.5 699.052 622.017 698.306 622.798 698.013L628.202 695.987C628.983 695.694 629.5 694.948 629.5 694.114V683C629.5 681.895 628.605 681 627.5 681H625C623.895 681 623 680.105 623 679V670C623 668.895 622.105 668 621 668H620.5C619.395 668 618.5 667.105 618.5 666V652.5C618.5 651.395 617.605 650.5 616.5 650.5H612.5C611.395 650.5 610.5 651.395 610.5 652.5V669C610.5 670.105 609.605 671 608.5 671H603C601.895 671 601 671.895 601 673Z" fill="#F34A4A" stroke="white"/>
        </g>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_1003_11806" transform="scale(0.000244141 0.000434028)"/>
        </pattern>
        <image id="image0_1003_11806" width="4096" height="2304" xlink:href="./assets/images/home/genplan/genplan-image.jpg">
        </defs>
        </svg>
    .genplan__legend.swiper-container(data-mobile-genplan-slider)
      .text-style-h-1.text-white Генплан
      .genplan__legend-navigation
        <svg data-mobile-genplan-slider-prev width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="35" y="8.5" width="30" height="1" transform="rotate(-180 35 8.5)" fill="white"/>
          <path d="M5.34948 8.21222L7.96852 13.7995C8.19919 14.2916 7.5898 14.7465 7.18361 14.3854L0.420418 8.3737C0.196661 8.17481 0.196661 7.82519 0.420419 7.62629L7.18361 1.61457C7.5898 1.25351 8.19919 1.7084 7.96852 2.20049L5.34948 7.78778C5.28645 7.92224 5.28645 8.07776 5.34948 8.21222Z" fill="white"/>
          </svg>
        <svg data-mobile-genplan-slider-next width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="7.5" width="30" height="1" fill="white"/>
          <path d="M29.6505 7.78778L27.0315 2.20049C26.8008 1.7084 27.4102 1.25351 27.8164 1.61457L34.5796 7.6263C34.8033 7.82519 34.8033 8.17481 34.5796 8.3737L27.8164 14.3854C27.4102 14.7465 26.8008 14.2916 27.0315 13.7995L29.6505 8.21222C29.7136 8.07776 29.7136 7.92224 29.6505 7.78778Z" fill="white"/>
          </svg>
      .swiper-wrapper
        each val in genplan
          button.genplan__legend-point.swiper-slide(data-polygon=val[0])
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              g.when-active 
                path(fill-rule="evenodd" clip-rule="evenodd" d="M12 13.2C15.9764 13.2 19.2 9.97645 19.2 6H24C24 12.6274 18.6274 18 12 18C5.37258 18 0 12.6274 0 6H4.8C4.8 9.97645 8.02355 13.2 12 13.2Z" fill=val[2])
              <mask id="path-2-inside-1_1003_15701" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.8C8.02355 10.8 4.8 14.0235 4.8 18L0 18C5.79387e-07 11.3726 5.37258 6 12 6C18.6274 6 24 11.3726 24 18L19.2 18C19.2 14.0235 15.9765 10.8 12 10.8Z"/>
              </mask>
              g.when-innactive <path d="M4.8 18L4.8 19L5.8 19L5.8 18L4.8 18ZM0 18L-1 18L-1 19L-8.74228e-08 19L0 18ZM24 18L24 19L25 19L25 18L24 18ZM19.2 18L18.2 18L18.2 19L19.2 19L19.2 18ZM5.8 18C5.8 14.5758 8.57584 11.8 12 11.8L12 9.8C7.47127 9.8 3.8 13.4713 3.8 18L5.8 18ZM4.8 17L8.74228e-08 17L-8.74228e-08 19L4.8 19L4.8 17ZM1 18C1 11.9249 5.92487 7 12 7L12 5C4.8203 5 -0.999999 10.8203 -1 18L1 18ZM12 7C18.0751 7 23 11.9249 23 18L25 18C25 10.8203 19.1797 5 12 5L12 7ZM24 17L19.2 17L19.2 19L24 19L24 17ZM12 11.8C15.4242 11.8 18.2 14.5758 18.2 18L20.2 18C20.2 13.4713 16.5287 9.8 12 9.8L12 11.8Z" fill="white" mask="url(#path-2-inside-1_1003_15701)"/>
              </svg>
            span #{val[1]}
  .container.container--full-screen.home-gallery 
    .text-style-h-1.text-new-blue.text-uppercase.home-gallery__title Галерея
    .home-gallery__container.swiper-container
      .thumbs
      .home-gallery__arrow
        <svg class="home-gallery__arrow-prev" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="49.5" stroke="white"/>
          <circle cx="50" cy="50" r="46" fill="white"/>
          <rect x="67" y="50.5" width="30" height="1" transform="rotate(-180 67 50.5)" fill="#001A58"/>
          <path d="M37.3495 50.2122L39.9685 55.7995C40.1992 56.2916 39.5898 56.7465 39.1836 56.3854L32.4204 50.3737C32.1967 50.1748 32.1967 49.8252 32.4204 49.6263L39.1836 43.6146C39.5898 43.2535 40.1992 43.7084 39.9685 44.2005L37.3495 49.7878C37.2865 49.9222 37.2864 50.0778 37.3495 50.2122Z" fill="#001A58"/>
          </svg>
        <svg class="home-gallery__arrow-next" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="49.5" stroke="white"/>
          <circle cx="50" cy="50" r="46" fill="white"/>
          <rect x="67" y="50.5" width="30" height="1" transform="rotate(-180 67 50.5)" fill="#001A58"/>
          <path d="M37.3495 50.2122L39.9685 55.7995C40.1992 56.2916 39.5898 56.7465 39.1836 56.3854L32.4204 50.3737C32.1967 50.1748 32.1967 49.8252 32.4204 49.6263L39.1836 43.6146C39.5898 43.2535 40.1992 43.7084 39.9685 44.2005L37.3495 49.7878C37.2865 49.9222 37.2864 50.0778 37.3495 50.2122Z" fill="#001A58"/>
          </svg>
      .swiper-wrapper
        .swiper-slide
          .text-style-h-1.text-white ПАРК
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          .text-style-h-1.text-white ПАРК1
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          .text-style-h-1.text-white ПАРК2
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          .text-style-h-1.text-white ПАРК3
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          .text-style-h-1.text-white ПАРК4
          img(src="./assets/images/home/home-page-screen1.jpg")
        .swiper-slide
          .text-style-h-1.text-white ПАРК5
          img(src="./assets/images/home/home-page-screen1.jpg")
    a(href="#").button-30.button-30--blue Дивитися більше фото
  .container.home-news.swiper-container
    .text-style-h-1.text-new-blue.text-uppercase Новини та акції
    .swiper-wrapper
      a(href="#").news-card.news.swiper-slide
        img(src="https://happy-dnipro-wp.smarto.com.ua/wp-content/uploads/2023/07/296x350.webp").news-card__image
        .news-card__text
          .news-card__label Новина
          .news-card__title Старт продаж нових секцій
          p Гарна новина! Розпочато продаж квартир у 7 секції в ЖК Щасливий у Дніпрі. Встигніть забронювати квартири площею від 40.7 м2 за кращою ціною. 
          .news-card__date 
            +svg('calendar')
            span 24.02.2023
      a(href="#").news-card.promotion.swiper-slide
        img(src="https://happy-dnipro-wp.smarto.com.ua/wp-content/uploads/2023/06/290x400.webp").news-card__image
        .news-card__text
          .news-card__label Новина
          .news-card__title Старт продаж нових секцій
          p Гарна новина! Розпочато продаж квартир у 7 секції в ЖК Щасливий у Дніпрі. Встигніть забронювати квартири площею від 40.7 м2 за кращою ціною. 
          .news-card__date 
            +svg('calendar')
            span 24.02.2023
  .container.home-progress
    .text-style-h-1.text-new-blue.text-uppercase Хід будівництва
    .home-progress__video
      video(poster="./assets/images/home/home-page-screen1.jpg" data-home-page-video)
        source(type="video/mp4" src="https://riverside1.com.ua/wp-content/themes/riverside/assets/videos/life.mp4")
      button(type="button").home-progress__video-button
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="white"/>
          <path d="M38 64V36L66 50L38 64Z" fill="#001A58"/>
          </svg>
    <svg class="home-progress__mobile-scroll-helper" width="53" height="39" viewBox="0 0 53 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H45C49.4183 0 53 3.58172 53 8V31C53 35.4183 49.4183 39 45 39H0V0Z" fill="url(#paint0_linear_759_17849)"/>
      <path d="M34.6982 19.4104C34.3318 19.4104 33.9904 19.5218 33.7069 19.7117C33.4626 19.0182 32.8002 18.5189 32.0237 18.5189C31.6573 18.5189 31.3159 18.6304 31.0324 18.8202C30.7881 18.1267 30.1257 17.6274 29.3492 17.6274C29.0247 17.6274 28.7198 17.7148 28.4577 17.8672V14.9529C28.4577 13.9696 27.6581 13.1699 26.6747 13.1699C25.6914 13.1699 24.8917 13.9696 24.8917 14.9529V22.5306L23.3423 21.369C22.4241 20.6799 21.1171 20.7717 20.3032 21.5848C19.7817 22.1063 19.7817 22.9541 20.3032 23.4757L26.6516 29.8249C27.4093 30.5827 28.4176 30.9999 29.4892 30.9999H31.578C34.281 30.9999 36.4812 28.8006 36.4812 26.0967V21.1934C36.4812 20.2101 35.6815 19.4104 34.6982 19.4104ZM35.5897 26.0966C35.5897 28.3084 33.7898 30.1084 31.578 30.1084H29.4892C28.6548 30.1084 27.8712 29.7839 27.2819 29.1946L20.9335 22.8454C20.7597 22.6715 20.7597 22.3889 20.9335 22.2151C21.2099 21.9396 21.579 21.7978 21.9498 21.7978C22.2512 21.7978 22.5543 21.8914 22.8083 22.0822L25.0701 23.7787C25.2056 23.8803 25.3875 23.8955 25.5372 23.8206C25.6879 23.7449 25.7833 23.5906 25.7833 23.4221V14.9529C25.7833 14.4617 26.1827 14.0614 26.6748 14.0614C27.1669 14.0614 27.5663 14.4617 27.5663 14.9529V21.6392C27.5663 21.8852 27.766 22.0849 28.012 22.0849C28.2581 22.0849 28.4578 21.8852 28.4578 21.6392V19.4104C28.4578 18.9192 28.8572 18.5189 29.3493 18.5189C29.8414 18.5189 30.2408 18.9192 30.2408 19.4104V21.6392C30.2408 21.8852 30.4405 22.0849 30.6865 22.0849C30.9326 22.0849 31.1323 21.8852 31.1323 21.6392V20.3019C31.1323 19.8107 31.5317 19.4104 32.0238 19.4104C32.5159 19.4104 32.9152 19.8107 32.9152 20.3019V21.6392C32.9152 21.8852 33.115 22.0849 33.361 22.0849C33.6071 22.0849 33.8068 21.8852 33.8068 21.6392V21.1934C33.8068 20.7022 34.2061 20.3019 34.6983 20.3019C35.1904 20.3019 35.5897 20.7022 35.5897 21.1934V26.0966Z" fill="white"/>
      <path d="M18 9.32837L16.1863 11.1716M16.1863 11.1716L18 13.3284M16.1863 11.1716L22.5 11.1716" stroke="white"/>
      <path d="M35 13.1716L36.8137 11.3284M36.8137 11.3284L35 9.17163M36.8137 11.3284L30.5 11.3284" stroke="white"/>
      <defs>
      <linearGradient id="paint0_linear_759_17849" x1="53" y1="19.5" x2="-5.59603e-07" y2="19.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#001A58"/>
      <stop offset="1" stop-color="#001A58" stop-opacity="0"/>
      </linearGradient>
      </defs>
      </svg>
    .progress-line
      .section-progress-item
        .section-progress-item__value 50%
        .ocean-wrapper 
          .ocean(style="--progress: 50%")
            .wave 
            .wave
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 0.666504H16H31.75C19.15 0.666504 16 9.55539 16 13.9998C16 9.55539 12.85 0.666504 0.25 0.666504Z" fill="#E6E6E6"/>
          </svg>
        .section-progress-item__title секція 1-6
      .section-progress-item
        .section-progress-item__value 50%
        .ocean-wrapper 
          .ocean(style="--progress: 50%")
            .wave 
            .wave
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 0.666504H16H31.75C19.15 0.666504 16 9.55539 16 13.9998C16 9.55539 12.85 0.666504 0.25 0.666504Z" fill="#E6E6E6"/>
          </svg>
      .section-progress-item
        .section-progress-item__value 50%
        .ocean-wrapper 
          .ocean(style="--progress: 50%")
            .wave 
            .wave
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 0.666504H16H31.75C19.15 0.666504 16 9.55539 16 13.9998C16 9.55539 12.85 0.666504 0.25 0.666504Z" fill="#E6E6E6"/>
          </svg>
        .section-progress-item__title секція 1-6
      .section-progress-item
        .section-progress-item__value 50%
        .ocean-wrapper 
          .ocean(style="--progress: 50%")
            .wave 
            .wave
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 0.666504H16H31.75C19.15 0.666504 16 9.55539 16 13.9998C16 9.55539 12.85 0.666504 0.25 0.666504Z" fill="#E6E6E6"/>
          </svg>
        .section-progress-item__title секція 1-6
      .section-progress-item
        .section-progress-item__value 50%
        .ocean-wrapper 
          .ocean(style="--progress: 50%")
            .wave 
            .wave
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 0.666504H16H31.75C19.15 0.666504 16 9.55539 16 13.9998C16 9.55539 12.85 0.666504 0.25 0.666504Z" fill="#E6E6E6"/>
          </svg>
    a(href="/progress").button-30.button-30--blue Ознайомитись детальніше
  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
